.header_undernav_wrap{
  background: rgba(98, 50, 50, 1);
  width: 100%;
  height: 100px;

  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
  }
  @media screen and (max-width: 426px){
    width: 100%;
  }
}
.header_undernav{
  width: 1600px;
  margin: auto;

  @media screen and (max-width: 1440px){
    width: 1270px;
  }
  @media screen and (max-width: 1025px){
    width: 900px;
  }
  @media screen and (max-width: 769px){
    width: 700px;
  }
}

.logo_box{
  float: left;
  width: 420px;
  margin-top: 35px;

  @media screen and (max-width: 1024px){
    width: 300px;
  }
  @media screen and (max-width: 769px){
    margin-left: 10px;
  }
  @media screen and (max-width: 426px){
    width: 300px;
    margin-left: 20px;
  }
}


.logo_left,
.logo_right{
  font-family: 'Audiowide';
  font-size: 35px;
  float: left;
  @media screen and (max-width: 426px){
    font-size: 21pt;
  }
}

.logo_left_word{
  float: left;
  //background-image: url(../img/line_logo.png);
  -webkit-background-clip: text;
  background-position: -400px -30px;
  color: transparent;
  animation-name: linelogo;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
//@keyframes linelogo {
//  from{
//    background-position: -400px -30px;
//  }
//  to{
//    background-position: 10px -30px;
//  }
//}

.logo_left{
  margin-left: -500px;
  animation-name: logoleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes logoleft {
  0%{
    opacity: 0;
    margin-left: -500px;
  }

  100%{
    opacity: 1;
    margin-left: 10px;
  }
}

.logo_right_word{
  color: #ff7373;
  float:left;
  animation-name: rightword;
  animation-duration: 3.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background-position: -250px 0px;
  margin-left: 10px;

  @media screen and (max-width: 1025px){
    animation-name: rightword1024;
  }

  @media screen and (max-width: 425px){
    animation-name: rightwordshort;
  }
}

@keyframes rightwordshort {
  0%{
    color: #ff7373;
    margin-left: 0px;
  }
  25%{
    color: #ff7373;
    margin-left: 30px;
  }
  45%{
    color: white;
    margin-left: 0;
  }
  85%{
    color: white;
  }
  100%{
    color: #ff7373;
  }
}

@keyframes rightword {
  0%{
    color: #ff7373;
    margin-left: 10px;
    letter-spacing: 0px;
  }
  25%{
    color: #ff7373;
    margin-left: 30px;
    letter-spacing: 20px;
  }
  45%{
    letter-spacing: 0px;
    color: white;
    margin-left: 0;
  }
  85%{
    color: white;
  }
  100%{
    color: #ff7373;
    margin-left: 0;
  }
}

@keyframes rightword1024 {
  0%{
    color: #ff7373;
    margin-left: 10px;
    letter-spacing: 0px;
  }
  25%{
    color: #ff7373;
    margin-left: 30px;
    letter-spacing: 5px;
  }
  45%{
    letter-spacing: 0px;
    color: white;
    margin-left: 0;
  }
  85%{
    color: white;
  }
  100%{
    color: #ff7373;
    margin-left: 0;
  }
}


.undernav_nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 740px;
  justify-content:  space-between;
  font-family: 'TruenoLt';
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15pt;
  margin-top: 40px;
  height: 60px;

  @media screen and (max-width: 1024px){
    width: 550px;
  }
  @media screen and (max-width: 768px){
    width: 380px;
    font-size: 12px;
    // display: none;
  }
  @media screen and (max-width: 425px){
    display: none;
  }
}
.undernav_item{
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 7px solid transparent;
  &:hover {
    border-bottom: 7px solid #ff7373;
    color: #ff7373;
  }
}

.crown{
  position: absolute;
  width: 33px;
  height: 35px;
  margin-top: -30px;
  margin-left: -2px;
  overflow: hidden;
}
.icon_crown{
  font-size: 20pt;
  transform: scaley(0.8);
  color: #ff7373;
  margin-top: 50px;
  margin-left: -1px;
  animation-name: crown;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  @media screen and (max-width: 425px){
    animation-name: crown_425;
    font-size: 15pt;
    margin-left: 1px;
  }
}

@keyframes crown_425 {
  from{
    margin-top: 50px;
  }
  to{
    margin-top: 13px;
  }
}

@keyframes crown {
  from{
    margin-top: 50px;
  }
  to{
    margin-top: 0px;
  }
}


// header_undernav_content //

.header_undernav_content{
  width: 100%;
  height: 900px;
  //border: 1px solid gray;
  background-image: url(../img/header_2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  //background: #f0efee;

  @media screen and (max-width: 1440px) {
    height: 700px;
  }
  @media screen and (max-width: 426px){
    //width: 425px;
    height: 300px;
  }
}

.undernav_content_desc_wrap{
  width: 100%;
  height: 500px;
  //margin: auto;
  //border: 1px solid gray;
  position: relative;
  //margin-left: 150px;
  @include box;
  @media screen and (max-width: 426px){
    //width: 425px;
    height: 300px;
  }



  .undernav_content_desc{
    width: 1600px;
    height: 100%;
    margin: auto;
    //border: 1px solid gray;
    @include box;

    @media screen and (max-width: 1440px){
      width: 1270px;
    }

    @media screen and (max-width: 1024px){
      width: 900px;
    }
    @media screen and (max-width: 768px){
      width: 700px;
    }
    @media screen and (max-width: 426px){
      width: 425px;
    }
  }
}

.content_desc{
  //display: flex;
  //flex-direction: column;
  width: 500px;
  height: 100%;
  //border: 1px solid gray;
  padding: 10px;
  @include box;
}

.content_desc_title{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.content_desc_title_word{
  font-family: 'Audiowide';
  font-size: 55px;
  margin-top: 30px;
  color: #472424;
  font-family: 'Monoton', cursive;
  animation-name: titleTextWord;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
  //border-bottom: 4px solid grey;


  &:nth-child(1){
    margin-top: -150px;
    color: #ff7373;
  }
  &:nth-child(2){
    margin-left: -150px;
  }
  &:nth-child(3){
    margin-top: -150px;
  }
  &:nth-child(4){
    margin-top: 150px;
  }
  &:nth-child(5){
    margin-left: 150px;
    margin-top: 150px;
  }
}

@keyframes titleTextWord {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    margin-top: 30px;
    margin-left: 0px;
  }
}


.content_desc_title_line_box{
  width: 200px;
  animation-name: titleLineBox;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-left: -300px;
  animation-delay: 4s;
}

@keyframes  titleLineBox{
  0%{
    margin-left: -300px;
  }
  100%{
    margin-left: 0;
  }
}
.content_desc_title_line{
  width: 200px;
  height: 5px;
  background: red;
  margin-left: -300px;
  animation-name: titleLine;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  float: right;
  animation-delay: 4s;
  opacity: 0;
  background: #ff7373;
}

@keyframes titleLine {
  0%{
    opacity: 1;
    margin-left: -500px;
    width: 400px;
  }
  80%{
    margin-left: 0px;
    width: 100px;
  }
  100%{
    width: 200px;
    opacity: 1;
  }
}

.content_desc_desc{
  width: 500px;
  //height: 7000px !important;
  //border: 1px solid gray;
  margin-top: 45px;

  @media screen and (max-width: 1440px){
    margin-top: 25px;
  }
  @media screen and (max-width: 1024px){
    width: 400px;
  }
  @media screen and (max-width: 768px){
    width: 300px;
  }


  .content_desc_text{
    display: inline;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.5s;
    opacity: 0;
    color: #472424;

    //font-family: 'Ubuntu Condensed', sans-serif;


    @media screen and (max-width: 1440px){
      font-size: 30px;
    }
    @media screen and (max-width: 1024px){
      font-size: 25px;
    }
  }
}

.btnShowMainContent{
  position: relative;
  display: block;
  width: 170px;
  height: 50px;
  margin-top: 35px !important;
  background: #ff7373;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #ff7373;
  cursor: pointer;
  background: #ffffff;
  border: 3px solid #ff7373;
  z-index: 10;
  overflow: hidden;
  transition: 1s;

  margin-left: -400px;
  animation-name: btnShowApear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-duration: 1s;

  @keyframes btnShowApear {
    0%{
      margin-left: -300px;
    }
    100%{
      margin-left: -0px;
    }
  }

  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ff7373;
    z-index: -1;
    margin-top: -12.5px;
    margin-left: -175px;
    transition: 1s;
  }
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ff7373;
    z-index: -1;
    margin-top: -12.5px;
    margin-left: 12.5px;
    transition: 1s;
  }

  &:hover::before{
    margin-left: 0px;
  }
  &:hover::after{
    margin-left: -165px;
  }
  &:hover{
    color: #ffffff;
  }

  @media screen and (max-width: 1440px){
    margin-top: -15px;
  }
}