.main_content_box {
  width: 100%;
  height: 1900px;
  position: relative;
  //background: -webkit-linear-gradient(right, #f5d0d0, #ffffff);
  //background: -moz-linear-gradient(to left, #623232, #ffffff);
  //background: -o-linear-gradient(to left, #623232, #ffffff);
  //background: linear-gradient(to left, #623232, #ffffff);

  @media screen and (max-width: 1440px) {
    height: 1800px;
  }

  @media screen and (max-width: 1025px) {
    width: 1024px;
    height: 1300px;
  }
  @media screen and (max-width: 769px) {
    width: 768px;
    height: 1000px;
  }
  @media screen and (max-width: 426px) {
    width: 100%;
  }
}

.main_content {
  width: 1600px;
  height: 100%;
  //border: 1px solid gray;
  margin: auto;
  position: relative;

  @media screen and (max-width: 1440px) {
    width: 1270px;
  }
  @media screen and (max-width: 1025px) {
    width: 900px;
  }
  @media screen and (max-width: 769px) {
    width: 700px;
  }
}


.new_block {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background: #f0efee;
  @include box;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  position: relative;

  @media screen and (max-width: 1024px) {
    height: 300px;
  }

  .new_title {
    position: relative;
    font-size: 25px;
    color: #ff7373;
    z-index: 100;
  }

  .new_desc {
    position: relative;
    font-size: 21px;
    margin-top: 10px;
    color: #623232;
    z-index: 100;
    @media screen and (max-width: 768px) {
      font-size: 17px;
    }
  }

  .right_block {
    position: absolute;
    right: 0;
    top: 0;
    //width: 50%;
    //height: 100%;
    //background: red;
    z-index: 1;

    width: 0;
    height: 0;
    border-bottom: 500px solid #bd8787;
    border-left: 850px solid transparent;

    @media screen and (max-width: 1024px) {
      border-bottom: 300px solid #bd8787;
      border-left: 450px solid transparent;
    }
  }
}


.advert {
  width: 100%;
  height: 750px;
  //border: 1px solid gray;
  //text-align: center;
  @include box;
  //padding-top: 140px;
  position: relative;
  float: left;

  @media screen and (max-width: 1440px) {
    height: 680px;
  }
  @media screen and (max-width: 1024px) {
    height: 540px;
  }
  @media screen and (max-width: 768px) {
    height: 430px;
  }
}

.advert_slider {
  width: 37%;
  //height: 100%;
  position: absolute;
  font-family: 'Neucha', cursive;
  //font-family: 'Oswald', sans-serif;
  display: block;
  @include box;
  padding: 70px;
  padding-top: 100px;
  transition: 1s;
  background: white;
  color: #472424;

  @media screen and (max-width: 1440px) {
    padding: 30px;
    padding-top: 85px;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 40px;
  }
}

.advert_slider_title {
  float: left;

  .advert_slider_title_word {
    display: inline-block;
    font-size: 35px;

    @media screen and (max-width: 1440px) {
      font-size: 25px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 19px;
    }
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.advert_slider_desc {
  margin-top: 50px;
  font-size: 30px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    font-size: 25px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 21px;
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    font-size: 17px;
  }
}

.advert_slider_1 {
}

.advert_slider_2 {
}

.advert_slider_3 {

  .advert_slider_desc {
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 13px;
      margin-top: 20px;
    }
  }
}


// option block //
.option_block_wrap {
  float: right;
  width: 60%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //border: 3px solid #472424;
  align-items: flex-end;
  position: relative;

  @media screen and (max-width: 1440px) {
    height: 400px;
  }
  @media screen and (max-width: 1024px) {
    height: 280px;
  }
  @media screen and (max-width: 768px) {
    height: 200px;
  }


  .option_block {
    width: 28%;
    height: 80%;
    //border: 3px solid #472424;
    transition: 0.3s;

    &:hover {
      -webkit-box-shadow: 9px 9px 15px 1px grey;
      box-shadow: 9px 9px 15px 1px grey;
    }


    .option_block_text {
      width: 100%;
      height: 10%;
      background: #472424;
      color: white;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      @include box;
      padding-top: 10px;

      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
      @media screen and (max-width: 768px) {
        font-size: 10px;
        padding-top: 5px;
      }
    }

    .option_block_content {
      width: 100%;
      height: 90%;
      //border: 1px solid gray;
      background: #5e3030;
      cursor: pointer;
      background-image: url(../img/header.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      transition: 3s;

      &:hover {
        //-webkit-background-size: 110% 110%;
        //background-size: 110% 110%;
        background-position: -250px;

      }

      .option_block_content_wrap {
        width: 100%;
        height: 100%;
      }
    }

    .option_block_content_2 {
      background-image: url(../img/header_2.jpg);
    }

    .option_block_content_3 {
      background-image: url(../img/header_3.jpg);
    }
  }
}

// option block //


.advert_line {
  margin-top: 100px;
  height: 5px;
  width: 100%;
  background: #623232;
}

.bottom_line {
  position: absolute;
  bottom: 70px;
}


// POSTS //

.posts_block{
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 800px;
  //border: 1px solid gray;
  background-image: url(../img/post.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 -100px;

  @media screen and (max-width: 1440px) {
    margin-top: 700px !important;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 570px !important;
    height: 350px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 450px !important;
    height: 250px;
  }
}

.posts_block_wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}

.slider_post{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.post{
  @include box;
  width: 50%;
  height: 100%;
  //float: left;
  border: 1px solid white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 50px;
}

.post_face{
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 50px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.slider_post_1>.left_post>.post_face{
  background-image: url(../img/post_1.png);
}
.slider_post_1>.right_post>.post_face{
  background-image: url(../img/post_3.png);
}

.post_text{
  width: 90%;
  height: 60%;
  margin-top: 60px;
  background: rgba(255,255,255,0.7);

  &:before{
    content: "";
    //width: 50px;
    //height: 50px;
    //background: rgba(255,255,255,0.5);
    display: block;
    //transform: rotate(45deg);
    margin-top: -30px;
    margin-left: 25px;
    position: absolute;

    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(255,255,255,0.7);
  }
}

//POSTS //
